/* --- THEME STUDCASH (Clair / Sombre) --- */

:root {
  /** 1. Bleu GNS (Boutons et accents) **/
  --ion-color-primary: #3b82f6;
  --ion-color-primary-rgb: 59,130,246;
  --ion-color-primary-contrast: #ffffff;
  
  /** 2. Vert GNS/UL (Succès) **/
  --ion-color-success: #22c55e;
  --ion-color-success-rgb: 34,197,94;
  --ion-color-success-contrast: #ffffff;

  /** 3. Rouge Alerte (Danger) **/
  --ion-color-danger: #ef4444;
  --ion-color-danger-rgb: 239,68,68;
  --ion-color-danger-contrast: #ffffff;

  /** 4. Fonds et Textes (Mode Clair par défaut) **/
  --ion-background-color: #f8fafc;       
  --ion-item-background: #ffffff;        
  --ion-text-color: #0f172a;             
  --ion-text-color-step-150: #64748b;    
  --ion-border-color: #e2e8f0;           
}


.dark {
  --ion-background-color: #0f172a;
  --ion-item-background: #1e293b;
  --ion-text-color: #f8fafc;
  --ion-text-color-step-150: #94a3b8;
  --ion-border-color: #334155;
}

// Global Body Styles
body {
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
}
@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
.fade-in-up {
  animation: fadeInUp 0.6s ease-out forwards;
}
