/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. Applies to all pages.
 * Use Ionic CSS variables to make it easier to theme the app.
 * For more info, see: https://ionicframework.com/docs/theming/
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Ionic variables... */
}

/* --- THEME POUR EN-TÊTE (FIX BANDE BLANCHE) --- */
.premium-header {
  ion-toolbar {
    --background: var(--ion-background-color);
    --color: var(--ion-text-color);
    ion-title { font-weight: 700; font-size: 18px; }
    ion-back-button, ion-menu-button { color: var(--ion-text-color-step-150); }
  }
}
