<ion-header class="ion-no-border premium-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/student" icon="arrow-back-outline" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Mon Historique</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="premium-dark-bg">
  <div class="history-wrapper">
    
    <div class="page-intro-section">
      <h1 class="page-title">Transactions</h1>
      <p class="page-subtitle">Suivi complet de vos flux financiers</p>
    </div>

    <div *ngIf="isLoading" class="loading-state">
      <ion-spinner name="crescent"></ion-spinner>
      <p>Chargement des transactions...</p>
    </div>

    <div *ngIf="!isLoading" class="transactions-container fade-in">
      
      <div *ngFor="let t of transactions" class="transaction-card">
        <div class="card-left">
          
          <div class="icon-wrapper" [ngClass]="t.categorie.toLowerCase()">
            <ion-icon *ngIf="t.categorie === 'SCOLARITE'" name="school-outline"></ion-icon>
            <ion-icon *ngIf="t.categorie === 'ACHAT'" name="cart-outline"></ion-icon>
          </div>

          <div class="transaction-details">
            <h4 class="item-title">{{ t.libelle }}</h4>
            <p class="item-date">{{ t.date | date:'dd MMMM yyyy à HH:mm' }}</p>
          </div>
        </div>

        <div class="card-right">
          <p class="amount-text" [ngClass]="{'is-credit': t.montantCredite > 0}">
            {{ t.montantDebite > 0 ? '-' : '+' }}{{ (t.montantDebite || t.montantCredite) | number:'1.0-0' }} F
          </p>
        </div>
      </div>

      <div *ngIf="transactions.length === 0" class="empty-state">
        <p>Aucune transaction enregistrée pour le moment.</p>
      </div>

    </div>

  </div>
</ion-content>